.qr-page-wrapper {
  width: 100%;
  max-width: 480px;
}

.qr-block {
  background-color: rgba(38, 35, 40, 1);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.light .qr-block {
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(33, 31, 34, 0.1);
}

#react-qrcode-logo {
  border-radius: 10px;
}

.qr-title {
  margin-top: 20px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
}

.light .qr-title {
  color: rgba(33, 31, 34, 1);
}

.qr-description {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.75);
}

.light .qr-description {
  color: rgba(33, 31, 34, 0.75);
}
