@font-face {
  font-family: "TTFirsNeue Black";
  src: url("../Fonts/TTFirsNeue/TTFirsNeue-Black.ttf") format("truetype");
}

@font-face {
  font-family: "TTFirsNeue Black Italic";
  src: url("../Fonts/TTFirsNeue/TTFirsNeue-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "TTFirsNeue Bold";
  src: url("../Fonts/TTFirsNeue/TTFirsNeue-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "TTFirsNeue Bold Italic";
  src: url("../Fonts/TTFirsNeue/TTFirsNeue-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "TTFirsNeue DemiBold";
  src: url("../Fonts/TTFirsNeue/TTFirsNeue-DemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "TTFirsNeue DemiBold Italic";
  src: url("../Fonts/TTFirsNeue/TTFirsNeue-DemiBoldItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "TTFirsNeue ExtraBold";
  src: url("../Fonts/TTFirsNeue/TTFirsNeue-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "TTFirsNeue ExtraBold Italic";
  src: url("../Fonts/TTFirsNeue/TTFirsNeue-ExtraBoldItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "TTFirsNeue ExtraLight";
  src: url("../Fonts/TTFirsNeue/TTFirsNeue-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "TTFirsNeue ExtraLight Italic";
  src: url("../Fonts/TTFirsNeue/TTFirsNeue-ExtraLightItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "TTFirsNeue Italic";
  src: url("../Fonts/TTFirsNeue/TTFirsNeue-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "TTFirsNeue Light";
  src: url("../Fonts/TTFirsNeue/TTFirsNeue-Light.ttf") format("truetype");
}

@font-face {
  font-family: "TTFirsNeue Light Italic";
  src: url("../Fonts/TTFirsNeue/TTFirsNeue-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "TTFirsNeue Medium";
  src: url("../Fonts/TTFirsNeue/TTFirsNeue-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "TTFirsNeue Medium Italic";
  src: url("../Fonts/TTFirsNeue/TTFirsNeue-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "TTFirsNeue Regular";
  src: url("../Fonts/TTFirsNeue/TTFirsNeue-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "TTFirsNeue Thin";
  src: url("../Fonts/TTFirsNeue/TTFirsNeue-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "TTFirsNeue Thin Italic";
  src: url("../Fonts/TTFirsNeue/TTFirsNeue-ThinItalic.ttf") format("truetype");
}

:root {
  --Text-Primary: #211f22;
  --Text-Secondry: rgba(255, 255, 255, 0.75);
  --Text-Warning: #ed8c20;
  --Text-Hint: rgba(255, 255, 255, 0.25);
  --Border-Default: rgba(255, 255, 255, 0.1);
}

.error-container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-block-page {
  width: 100%;
  max-width: 480px;
  border-radius: 10px;
  border: 1px solid var(--Border-Default);
  background: #262328;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--Text-Primary);
  font-family: "TTFirsNeue Regular";
  font-style: normal;
  font-weight: 400;
  margin-top: 40px;

  padding: 20px 20px 15px 20px;
}

.light .error-block-page {
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(33, 31, 34, 0.1);
}

.result-pay {
  width: 100%;
  display: flex;
  justify-content: center;
}
.result-pay img {
  width: 48px;
  height: 48px;
}
.result-pay p {
  color: var(--Text-Primary);
  font-size: 18px;
}

.light .result-pay p {
  color: rgba(33, 31, 34, 1);
}

.error-reasons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: var(--Text-Primary);
}
.error-reasons p {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
}

.light .error-reasons p {
  color: rgba(33, 31, 34, 1);
}

.error-reasons ul {
  margin-top: 0;
  padding-left: 20px;
  line-height: 20px;
  margin-bottom: 20px;
}
.error-reasons li {
  font-size: 14px;
}

.light .error-reasons li {
  color: rgba(33, 31, 34, 0.75);
}

.label-text {
  width: 100%;
  background-color: #ed8c201a;
  border-radius: 4px;
  text-align: center;
  height: 58px;
  margin-bottom: 10px;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-text p {
  color: var(--Text-Warning);
  font-size: 12px;
  font-weight: 400;
}

.price-and-number-order-error {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-and-number-order-error p {
  width: 50%;
}

.price {
  font-family: "TTFirsNeue Medium";
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  text-align: start;
  margin-top: 0;
  margin-bottom: 0;
}

.price-info {
  font-size: 22px;
}

.light .price-info {
  color: rgba(33, 31, 34, 1);
}

.number {
  font-size: 16px;
  text-align: end;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.link-and-info-order-error {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 16px;
}

.link-and-info-order-error p:first-child {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}
.link-and-info-order-error p:last-child {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
}

.light .link-and-info-order-error p:first-child,
.light .link-and-info-order-error p:last-child {
  color: rgba(33, 31, 34, 0.75);
}

.submit-button-result {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 20px;
}
