.offer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
}

.offer-content {
  overflow-y: scroll;
  text-align: start;
  padding: 0 20px;
  margin-top: 40px;
}

.modal .offer-content {
  margin-top: 0;
}

.light .offer-content {
  background-color: rgba(255, 255, 255, 1);
}

.title {
  text-align: center;
  font-size: 18px;
  color: var(--Text-Primary);
  margin-bottom: 20px;
}

.modal .title {
  text-align: left;
  font-size: 22px;
  line-height: 28px;
  font-weight: 500;
}

.p2,
.p2First {
  margin-bottom: 0;
}

.block {
  margin-bottom: 20px;
}

.light .p2 {
  color: rgba(33, 31, 34, 0.75);
}

.title {
  text-align: center;
  font-size: 18px;
  color: var(--Text-Primary);
  margin-bottom: 20px;
}

.light .title {
  color: rgba(33, 31, 34, 1);
}

p {
  font-size: 14px;
  color: var(--Text-Secondry);
  line-height: 20px;
}

.accept-text a {
  color: var(--Text-Primary);
}
