@font-face {
    font-family: 'TTFirsNeue Black';
    src: url('../Fonts/TTFirsNeue/TTFirsNeue-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'TTFirsNeue Black Italic';
    src: url('../Fonts/TTFirsNeue/TTFirsNeue-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'TTFirsNeue Bold';
    src: url('../Fonts/TTFirsNeue/TTFirsNeue-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'TTFirsNeue Bold Italic';
    src: url('../Fonts/TTFirsNeue/TTFirsNeue-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'TTFirsNeue DemiBold';
    src: url('../Fonts/TTFirsNeue/TTFirsNeue-DemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'TTFirsNeue DemiBold Italic';
    src: url('../Fonts/TTFirsNeue/TTFirsNeue-DemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'TTFirsNeue ExtraBold';
    src: url('../Fonts/TTFirsNeue/TTFirsNeue-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'TTFirsNeue ExtraBold Italic';
    src: url('../Fonts/TTFirsNeue/TTFirsNeue-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'TTFirsNeue ExtraLight';
    src: url('../Fonts/TTFirsNeue/TTFirsNeue-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'TTFirsNeue ExtraLight Italic';
    src: url('../Fonts/TTFirsNeue/TTFirsNeue-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'TTFirsNeue Italic';
    src: url('../Fonts/TTFirsNeue/TTFirsNeue-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'TTFirsNeue Light';
    src: url('../Fonts/TTFirsNeue/TTFirsNeue-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'TTFirsNeue Light Italic';
    src: url('../Fonts/TTFirsNeue/TTFirsNeue-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'TTFirsNeue Medium';
    src: url('../Fonts/TTFirsNeue/TTFirsNeue-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'TTFirsNeue Medium Italic';
    src: url('../Fonts/TTFirsNeue/TTFirsNeue-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'TTFirsNeue Regular';
    src: url('../Fonts/TTFirsNeue/TTFirsNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'TTFirsNeue Thin';
    src: url('../Fonts/TTFirsNeue/TTFirsNeue-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'TTFirsNeue Thin Italic';
    src: url('../Fonts/TTFirsNeue/TTFirsNeue-ThinItalic.ttf') format('truetype');
}

.order-info-block {
    width: 40%;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: #262328;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-family: "TT Firs Neue Black";
}
.price-and-number-order{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price-and-number-order p{
    width: 25%;
    text-align: center;
    margin: 5% 0;
    margin-bottom: 2%;
}
.price{
    font-size: 26px;
}
.number{
    font-size: 20px;
}
.link-and-info-order{
    width: 95%;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
}
.link-and-info-order a{
    text-decoration: none;
    color: #ffffff;
    text-align: start;
}
.link-and-info-order p{
    color: rgba(255, 255, 255, 0.70);
}

@media screen and (max-width: 1440px) {
    .order-info-block {
        width: 40%;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.20);
        background: #262328;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        font-family: "TT Firs Neue Black";
    }
    .price-and-number-order{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .price-and-number-order p{
        width: 30%;
        text-align: center;
        margin: 5% 0;
        margin-bottom: 2%;
    }
    .price{
        font-size: 26px;
    }
    .number{
        font-size: 20px;
    }
    .link-and-info-order{
        width: 95%;
        margin-left: 4%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 20px;
    }
    .link-and-info-order a{
        text-decoration: none;
        color: #ffffff;
        text-align: start;
    }
    .link-and-info-order p{
        color: rgba(255, 255, 255, 0.70);
    }
}

@media screen and (max-width: 1024px){
    .order-info-block {
        width: 70%;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.20);
        background: #262328;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        font-family: "TT Firs Neue Black";
    }
    .price-and-number-order{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .price-and-number-order p{
        width: 27%;
        text-align: center;
        margin: 5% 0;
        margin-bottom: 2%;
    }
    .price{
        font-size: 26px;
    }
    .number{
        font-size: 20px;
    }
    .link-and-info-order{
        width: 95%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 20px;
    }
    .link-and-info-order a{
        text-decoration: none;
        color: #ffffff;
        text-align: start;
    }
    .link-and-info-order p{
        color: rgba(255, 255, 255, 0.70);
    }
}



@media screen and (max-width: 768px) {
    .order-info-block {
        width: 80%;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.20);
        background: #262328;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        font-family: "TT Firs Neue Black";
    }
    .price-and-number-order{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .price-and-number-order p{
        width: 43%;
        text-align: center;
        margin: 5% 0;
    }
    .price{
        font-size: 22px;
    }
    .number{
        font-size: 16px;
    }
    .link-and-info-order{
        width: 95%;
        margin-left: 12%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 16px;
    }
    .link-and-info-order a{
        text-decoration: none;
        color: #ffffff;
        text-align: start;
    }
    .link-and-info-order p{
        color: rgba(255, 255, 255, 0.70);
    }
    
}


@media screen and (max-width: 480px){
    .order-info-block {
        width: 90%;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.20);
        background: #262328;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        margin-bottom: 5%;
        font-family: "TT Firs Neue Black";
    }
    .price-and-number-order{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .price-and-number-order p{
        width: 40%;
        text-align: center;
        margin: 5% 0;
    }
    .price{
        font-size: 22px;
    }
    .number{
        font-size: 16px;
    }
    .link-and-info-order{
        width: 95%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 16px;
    }
    .link-and-info-order a{
        text-decoration: none;
        color: #ffffff;
        text-align: start;
    }
    .link-and-info-order p{
        color: rgba(255, 255, 255, 0.70);
    }

}