.modal-overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}

.close-icon {
  position: absolute;
  top: 36px;
  right: 32px;
  cursor: pointer;
}

.modal-content {
  position: absolute;
  background-color: #262328;
  border-radius: 8px;
  padding: 32px;
  width: 640px;
  height: 600px;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  cursor: default;
}

.light .modal-content {
  background-color: #ffffff;
}

.fade-enter {
  opacity: 0;
}

.fade-appear {
  opacity: 0;
}

.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms linear;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

.fade-enter-active,
.fade-exit-active {
  transition: opacity 300ms linear;
}
